body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #434a55;
}

.main-heading{
    display: flex;
    justify-content: center;
    color: #00ADB5;
    margin: 50px;
}

.Navbar{
    background-color: #00ADB5;
    padding: 0 20px;
    display: flex;
    list-style-type: none;
    justify-content: right;
    gap: 5rem;
    margin: 30px 0;
}

.Navbar li{
    cursor: pointer;
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.Navbar a{
    text-decoration: none;
    color: currentColor;
}

.Navbar li:hover{
    color: white;
    background-color: #393E46;
}

.postFeed{
    color: black;
    text-align: center;
}

.postData p{
    color: grey;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 10%;
    outline: 1px solid red;
}
